@charset "UTF-8";

.top-category{
	border-bottom: 1px solid #ddd;
}
a:hover{
	text-decoration: none!important;
	color: none;
}
.nav-link{
	height: 48px;
	font-size: 16px;
    font-weight: 500;
    line-height: 48px;
    padding: 12px 20px !important;
    color: #40474D;
    font-weight: 700;
}
.nav-link:hover{
	background-color: white;
	color: #aaa;
}
.nav-tabs>li>a:hover{
	border-color: transparent !important;
}
.active{
	color: #1F8CE6;
}
.catenav>li>a:hover{
	background-color: white !important;
}
.book-image{
	width: 140px;
    height: 216px;
}
.center>.slick-prev {
    left: 333px !important;
}
.center>.slick-next {
	right: 333px !important;
}
.center>.slick-prev, .center>.slick-next{
	z-index: 100 !important;
	background: rgba(0, 0, 0, 0.88) !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.33) 0px 0.8px 3px;
    opacity: 0.5;
    transition: opacity 0.1s ease 0s;
    cursor: pointer;
}
.slide-box img{
	width:430px;
	height:286px;
	border-radius: 2%;
	opacity: 0.5;
}
.slide-box img {
	transform: scale(0.9);
}
.slide-box.slick-current{
	transform: scale(1.1);
}
.slide-box.slick-current img{
	opacity: 1.0;
}
.slide-box{
	width: 426.6px !important;
}
.center>.slick-prev:before {
    content: "" !important;
    font-family: 'FontAwesome'!important;
    font-size: 20px;
    padding-right: 4px;
    padding-top: 1px;
}
.center>.slick-next:before {
    content: "" !important;
    font-family: 'FontAwesome' !important;
    font-size: 20px;
    padding-left: 4px;
}
.iconlist{
	height: fit-content;
    max-width: 1000px;
    margin: 0 auto;
}
.newbook{
	height:400px;
	padding: 36px 0px;
	background-color:#334;
	margin-bottom: 20px;
}
.white-slide{
	margin-bottom: 20px !important;
}
.slide-box2{
	padding-right: 22px;
	letter-spacing: -1px;
}
.slide-box2 img{
	width: 140px;
	height: auto;
	max-height: 216px;
}
.newbook-title{
	max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 25px;
    font-size: 19px;
    font-weight: normal;
    color:white;
}
.book-title{
    font-weight: 700;
    line-height: 1.33em;
    margin-bottom: 4.5px;
    font-size: 14px;
    color: white;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.book-author{
	font-size: 14px;
    line-height: 1.36;
    color: #9EA7AD;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.white-responsive>.slick-prev, .white-responsive>.slick-next{
	background: rgba(0, 0, 0, 0.6) !important;
}
.responsive>.slick-prev, .responsive>.slick-next{
	z-index: 100 !important;
	background: rgba(255, 255, 255, 0.3);
    width: 40px !important;
    height: 40px !important;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.33) 0px 0.8px 3px;
    opacity: 0.5;
    transition: opacity 0.1s ease 0s;
    cursor: pointer;
}
.responsive>.slick-prev:before {
    content: "" !important;
    font-family: 'FontAwesome'!important;
    font-size: 20px;
    padding-right: 4px;
    padding-top: 1px;
    left: -60px !important;
    top: 110px;
}
.responsive>.slick-prev{
	left: -60px !important;
    top: 110px;
}
.responsive>.slick-next{
	top: 110px;
	right: -40px !important;
}
.responsive>.slick-next:before {
    content: "" !important;
    font-family: 'FontAwesome' !important;
    font-size: 20px;
    padding-left: 4px;
}
.table-book-img{
	width:48px;
	height:69px;
}
.table-book-img-big{
	width: 78px;
	max-height: 120px;
}
.big-book {
    height: 138px !important;
}
.big-book .col-md-3, .big-book .col-md-8, .big-book .col-md-1{
	padding: 0px;
	height: 120px;
	display: flex;
    align-items: center;
    letter-spacing: -1px;
}
.table-book-rank{
    margin: 0px auto;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
}
.table-book-title{
	font-size: 14px;
    font-weight: 700;
    line-height: 1.33em;
    color: #000000;
    margin-bottom: 4.5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.table-book-info{
	margin-left: 7px;
	width: 203px;
}
.table-book-author{
	color: #636C73;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.table-title{
	max-width: 990px;
    margin: 0 auto 16px;
    padding: 25px 20px 0;
    font-size: 19px;
    font-weight: normal;
    line-height: 26px;
    height: 72px;
}
.grid-container .row{
	width: 100%;
    margin: 0;
    height: 100%;
    border-bottom: 1px solid #ddd;
}
.grid-container .row div{
	height: 100%;
	padding: 0px;
}
.white-slide .book-title{
	color:black;
}
.big-grid .col-md-2{
	width: fit-content;
}
.icon-ul {
	text-align: center;
    height: fit-content;
    padding: 24px 13px;
    margin: 0px;
}

.icon-li {
    display: inline-block;
    width: 76px;
    height: 67px;
    margin: 0 14px;
}
.icon-li img{
	width:44px; 
	height:44px;
	border-radius: 35%;
}
.icon-li div{
	width:76px;
	font-size: 10pt;
    word-break: keep-all;
    letter-spacing: -0.06em;
    padding-top: 8px;
    color: #525a61;
}
