@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
*{
	font-family: 'Nanum Gothic', sans-serif;
}
.header{
	background-color:#1F8CE6;
}
.align-right{
	margin-right: 5px;
	box-sizing: border-box;
    border-radius: 3px;
    padding: 0 16px;
    font-weight: bold;
    word-break: keep-all;
    font-size: 13px;
    height: 30px;
}
.join{
	background-color: #1F8CE6;
    border: 1px solid #99D1FF;
    color: #ffffff;
}
.login{
	background-color: white;
    border: 1px solid white;
    color: #1F8CE6;
}
.navbar-brand{
	font-size: 24px;
	padding: 8px;
	color: white;
}
.navbar-brand:hover{
	color: white;
}
.navbar{
	padding-top: 18px;
    padding-right: 16px;
    margin-bottom: 0px;
}
.align-right{
	float:right;
}
header>.nav-tabs>li>a{
	font-size: 16px;
    font-weight: 600;
    color: white;
}
.fas{
	margin-right: 15px; 
}
.nav-link {
    height: 48px;
    padding: 12px 20px !important;
}
header>.nav-tabs>li>a {
    margin-right: 29px;
}
header>.nav-tabs>li>a:hover {
    background-color: #1F8CE6;
    border-bottom: 4px solid rgb(153, 209, 255) !important;
    color: rgb(153, 209, 255);
    border-color: transparent;
}
header>.nav-tabs>li>.active {
	border-bottom: 4px solid rgb(153, 209, 255);
}
.nav-tabs {
    border-bottom: 1px solid transparent;
}

.css-SearchBoxShape {
    background: white;
    border-radius: 3px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.css-SearchBox {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 36px;
    font-size: 16px;
    line-height: 16px;
}

.css-WrapperForm {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: 340px;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    z-index: 10;
}

 .css-1l2h10c-FocusTrap:focus {
    outline: none;
}