@charset "UTF-8";
.page-header {
    border-bottom: 1px solid #d6deeb;
}
.page-header .page-title {
    text-align: center;
}
.page-header .page-title-link {
    display: inline-block;
    padding: 15px 14px 12px;
}
.page-header .ridi_icon.logo_ridibooks {
    width: 84px;
    height: 13px;
    fill: #1f8ce6;
}
#body-id {
    background: #ebf6ff;
}
.account-container {
    width: 360px;
    margin: 0 auto;
    padding: 60px 0 70px;
}
.account-login .account-form {
    padding: 24px 10px;
}

.account-form .login_box {
    margin-bottom: 10px;
}
.account-login .id_remember .external-links {
    margin-left: 14px;
    padding-top: 3px;
    float: right;
}


.account-login .remember-wrapper .link {
    cursor: pointer;
}
button, label {
    cursor: pointer;
}

.account-login .id_remember input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 17px;
    height: 17px;
    margin: 0;
    float: left;
    overflow: hidden;
    border: 1px solid #b6c1cb;
    border-radius: 3px;
    background: #fff;
    -webkit-box-shadow: inset 0 1px 2px 0 rgba(115,128,150,.2);
    box-shadow: inset 0 1px 2px 0 rgba(115,128,150,.2);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.account-form .id_box, .account-form .password_box{
    color: #666;
    font-family: Helvetica Neue,Apple SD Gothic Neo,arial,나눔고딕,Nanum Gothic,돋움,Dotum,Tahoma,Geneva,sans-serif;
    font-size: 12px;
    letter-spacing: -.03em;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 50px;
    padding: 14px 18px;
    overflow: hidden;
    border: 1px solid #d6deeb;
    border-style: solid;
    border-radius: 0;
    background: #fff;
    color: #313538;
    font-size: 15px;
    font-weight: 700;
    line-height: normal;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.account-form .account-label {
    margin-bottom: -1px;
}
.account-form .login_box>.account-label:first-child>.id_box {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.account-form .id_box, .account-form .account-label, .account-form .password_box {
    display: block;
    position: relative;
    width: 100%;
}
.account-login .id_remember {
    margin-top: -1px;
    padding: 13px 8px 13px 16px;
    overflow: hidden;
    border: 1px solid #d6deeb;
    border-radius: 0 0 4px 4px;
    background: #f7fbff;
    z-index: 1;
}

.account-login .id_remember #id_remember_check {
    float: left;
}

.account-login .id_remember #id_remember_check input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 17px;
    height: 17px;
    margin: 0;
    float: left;
    overflow: hidden;
    border: 1px solid #b6c1cb;
    border-radius: 3px;
    background: #fff;
    -webkit-box-shadow: inset 0 1px 2px 0 rgba(115,128,150,.2);
    box-shadow: inset 0 1px 2px 0 rgba(115,128,150,.2);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.account-login .id_remember label {
    display: block;
    padding: 3px 0 0 5px;
    float: left;
    color: #738096;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -.03em;
    line-height: 1em;
}
.login_btn
{
	margin-top:10px;
}
.full-button {
    display: block;
    width: 100%;
    padding: 16px 0;
}
.account-login .id_remember .external-links .link {
    display: block;
    padding: 0 6px;
    float: left;
    border: none;
    outline: none;
    background-color: transparent;
    color: #738096;
    font-size: 12px;
    letter-spacing: -.03em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.account-login .signup-link a {
    font-size: 14px;
    font-weight: 700;
    color: #808991;
}
.account-login .login-button {
    margin-top: 10px;
}
.account-signup .account-form {
    padding: 0;
}
.account-signup .account-form .account-form-wrapper {
    padding: 10px 10px 15px;
}
.invisible {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0,0,0,0);
}
.account-form .input-group {
    margin-bottom: 10px;
}
.ridi-input-wrapper {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: -1px;
}