@charset "UTF-8";

.img-in-box{
	width: 250px;
	height: 320px;
	border: 3px solid #1F8CE6;
    background-color: white;
    padding: 120px 0px;
    text-align: center;    
    font-weight: bolder;
    letter-spacing: -1px;
}
textarea{
	width:430px; 
	height:150px; 
    resize:none;/* 크기고정 */ 
	margin: 20px 0px !important;
}
span{
	letter-spacing: -1px;
}
.col-sm-8{
	border: 1px solid #aaa;
    padding: 50px !important;
}
.book-info-bottom {
    border-bottom: 1px solid #ddd;
}
span.book-label {
    width: 120px;
    display: inline-block;
    font-size: 15px;
    line-height: 45px;
    letter-spacing: -0.5px;
    font-weight: 800;
}
.search-up{
	position:absolute;
    width: 800px !important;
    min-height: 300px;
    top: 30% !important;
    left: 20% !important;
    border: 5px solid gray;
    background-color: white;
    z-index: 99;
}

.search-title{
	font-weight: 800;
	font-size: 25px;
}

#btn-search{
	border:0px;
	background-color:white;
	color:black;
	font-size: 20px;
	padding: 0 10px;
}
#btn-save{
    width: 100px;
    height: 40px;
    background-color: #1F8CE6;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 900;
   	margin-top: 50px;
}
#price{
	line-height: 17px;
}
#search{
	width: 300px;
    margin: 0px 10px;
    position: relative;
    bottom: 3px;
}
.search-bar{
	padding: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}
.card{
	height:200px;
}
button.searchbtn {
    background-color: white;
    border: 1px solid #1F8CE6;
    border-radius: 5px;
    padding: 3px 14px;
    color: #1F8CE6;
    font-weight: 900;
}

.book-title{
	font-size: 13px;
    font-weight: bolder;
    letter-spacing: -1px;
    margin: 5px 0px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 14px;
}
#previous, #next{
	color:black;
	font-weight: bold;
	cursor: pointer;
}