.css-SearchResultSection {
    max-width: 952px;
    min-height: 620px;
    margin: 0 auto;
    padding-top: 8px;
}

.css-i1sryg-SearchTitle {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: rgb(48, 53, 56);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 10px 0px;
}

h1, h2, h3, h4, button, input, p, span {
    letter-spacing: -0.03em;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.css-4256oc-TotalAuthor {
    font-size: 13px;
    font-weight: normal;
    margin-left: 5px;
    color: rgb(158, 167, 173);
}

#css-AuthorList-defaultHoverStyle {
    margin-bottom: 16px;
}

.css-AuthorList{
    margin-bottom: 16px;
}



ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.css-1qa0tzd-AuthorItem {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

li {
    line-height: initial;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

li {
    text-align: -webkit-match-parent;
}

a:link, a:visited {
    text-decoration: none;
}

.css-11d7ekm-AuthorAnchor {
    width: 100%;
    padding: 12px 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
}

a {
    color: inherit;
    letter-spacing: inherit;
    font-family: inherit;
    cursor: pointer;
}

.css-94i5om-AuthorInfoWrapper {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}

.css-14fq5v-AuthorIconWrapper {
    width: 22px;
    height: 22px;
    margin-right: 6px;
    background: rgb(242, 244, 245);
    border-radius: 22px;
}

.css-cx4ugu-AuthorIcon {
    padding: 5px;
}

.css-vy923q-AuthorName {
    font-size: 14px;
    line-height: 1.4em;
    flex-shrink: 0;
    margin-right: 8px;
    color: rgb(0, 0, 0);
}

.css-grfvvm-AuthorBooksInfo {
    font-size: 14px;
    color: rgb(128, 137, 145);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow-wrap: break-word;
    white-space: normal;
    word-break: keep-a;
}

.css-1hcepfe-ShowMoreAuthor {
    padding: 12px 16px;
}

.css-1hcepfe-ShowMoreAuthor {
    padding: 12px 0px;
    height: 46px;
    color: rgb(99, 108, 115);
    font-size: 13px;
    font-weight: bold;
    display: flex;
    cursor: pointer;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
}

.css-1hcepfe-closeAuthor {
    padding: 12px 0px;
    height: 46px;
    color: rgb(99, 108, 115);
    font-size: 13px;
    font-weight: bold;
    display: flex;
    cursor: pointer;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
}

.css-close-Arrow {
    width: 11px;
    fill: rgb(158, 167, 173);
    margin-left: 5px;
    transform: rotate(
            180deg
    );
}

button {
    cursor: pointer;
    user-select: none;
    color: inherit;
    letter-spacing: inherit;
    font-family: inherit;
    appearance: none;
    background: none;
    box-shadow: none;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.css-conzdg-Arrow {
    width: 11px;
    fill: rgb(158, 167, 173);
    margin-left: 5px;
    transform: rotate(
            0deg
    );
}

button * {
    position: relative;
    top: 0px;
    left: 0px;
}

path[Attributes Style]
{
    d: path("M 17.88 2.88 L 10 10.76 L 2.12 2.88 L 0 5 l 10 10 L 20 5 Z");
}

:not(svg) {
    transform-origin: 0px 0px;
}
.css-18uhw82-Content {
    flex: 1 0 auto;
}

@media (max-width: 999px) {
    #css-96p3ms-CategoryList {
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        height: 45px;
    }
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}



.css-6erk0j-CategoryItem {
    flex: 0 0 auto;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
    box-shadow: rgb(158 167 173) 0px -3px 0px inset;
}

.css-z11tzf-CategoryName {
    color: rgb(99, 108, 115);
    font-size: 14px;
    font-weight: bold;
}

.css-bc8moo-CategoryName {
    color: rgb(99, 108, 115);
    font-size: 14px;
    font-weight: normal;
    opacity: 0.7;
}

.css-1xyth6g-CategoryName-CategoryCount {
    color: rgb(99, 108, 115);
    font-weight: bold;
    font-size: 13px;
}

.css-dl13r0-CategoryName-CategoryCount {
    color: rgb(99, 108, 115);
    font-weight: normal;
    opacity: 0.7;
    font-size: 13px;
}

.css-mkzffn-CategoryAnchor-defaultHoverStyle {
    padding: 15px 4px;
}

.css-1hty9ep-CategoryItem {
    flex: 0 0 auto;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
}

.css-1hty9ep-CategoryItem:not(:first-of-type) {
    margin-left: 10px;
}

.css-6erk0j-CategoryItem {
    flex: 0 0 auto;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
    box-shadow: rgb(158 167 173) 0px -3px 0px inset;
}

.css-1kp8mto-ControllerContainer-containerStyle div + div {
    padding: 0px;
}

.css-1kp8mto-ControllerContainer-containerStyle div + div {
    padding: 0px;
}

.css-govncf-SliderControllerContainer-displayNoneForTouchDevice-arrowStyle button:first-of-type {
    background: linear-gradient(
            270deg
            , rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 27.6%, rgb(255, 255, 255) 53.65%);
}


.css-govncf-SliderControllerContainer-displayNoneForTouchDevice-arrowStyle button {
    border-radius: 0px;
    box-shadow: none;
    width: 40px;
    height: 44px;
}

.css-wup6kn-Arrow-clearOutline-defaultOpacity-baseArrowStyle-arrowHiddenStyle-Arrow {
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    box-shadow: rgb(0 0 0 / 33%) 0px 0.8px 3px;
    cursor: pointer;
    transition: opacity 0.2s ease 0s;
    opacity: 0;
    pointer-events: none;
}

.css-govncf-SliderControllerContainer-displayNoneForTouchDevice-arrowStyle button:first-of-type > svg {
    fill: rgb(184, 191, 196);
    position: relative;
    left: -15px;
    right: inherit;
}
.css-govncf-SliderControllerContainer-displayNoneForTouchDevice-arrowStyle button:last-of-type {
    background: linear-gradient(
            90deg
            , rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 27.6%, rgb(255, 255, 255) 53.65%);
}


.css-fjc0p6-Filters {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 12px;
}


* .a11y {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0px;
    overflow: hidden;
    border: 0px;
    clip: rect(0px, 0px, 0px, 0px);
}

.css-hheinx-leftRotate-mergedStyle {
    transform-origin: center center;
    transform: rotateX(
            180deg
    ) translate(-2%, 0px) rotate(
            180deg
    );
    top: 1.5px;
    fill: rgb(128, 137, 145);
}

.css-nn7pxq-SearchTitleWrapper {
    position: relative;
}

.css-i1sryg-SearchTitle {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: rgb(48, 53, 56);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 10px 0px;
}

.css-nn7pxq-SearchTitleWrapper .e1d8ahie1:not(:only-child) {
    padding-right: 100px;
}

.css-i1sryg-SearchTitle {
    margin: 10px 16px;
}

.css-1kp8mto-ControllerContainer-containerStyle {
    position: relative;
}

.css-19v6vho-Border {
    top: -1px;
    position: relative;
    height: 1px;
    width: 100%;
    background: rgb(209, 213, 217);
    z-index: -1;
}

.css-fjc0p6-Filters {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 12px;
}

.css-fjc0p6-Filters {
    margin-left: 16px;
    margin-right: 16px;
}

.css-7jf6if-Select {
    flex: 0 0 auto;
    appearance: none;
    height: 2.8em;
    width: 93px;
    padding: 7px;
    font-size: 12px;
    font-weight: bold;
    background: url(https://books.ridicdn.net/_next/static/images/CaretDown-2f36168â€¦.svg) 93% 50% no-repeat white;
    color: rgb(99, 108, 115);
    border: 1px solid rgb(209, 213, 217);
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
}

select:not(:-internal-list-box) {
    overflow: visible !important;
}

select {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    cursor: default;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.css-1jiu14l-Label-defaultHoverStyle, .css-1jiu14l-Label-defaultHoverStyle * {
    cursor: pointer;
}

.css-1jiu14l-Label-defaultHoverStyle {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 6px 4px 6px 6px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 13px;
    color: rgb(99, 108, 115);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
}

.css-1pfyy4p-Input {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(209, 213, 217);
    box-sizing: border-box;
    border-radius: 2px;
    background: white;
    margin-right: 6px;
}

.css-1jiu14l-Label-defaultHoverStyle, .css-1jiu14l-Label-defaultHoverStyle * {
    cursor: pointer;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.css-1pfyy4p-Input {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(209, 213, 217);
    box-sizing: border-box;
    border-radius: 2px;
    background: white;
    margin-right: 6px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#css-SearchBookListContainer{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}


.css-SearchBookList {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.css-rwymtw-SearchBookItem {
    border-bottom: 1px solid #D1D5D9;
}

.css-1updms1-Wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 0;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}

.css-11biyqe-ThumbnailAnchor {
    flex: 0 0 auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.15);
}

.css-xygcns-ThumbnailWrapper, .css-xygcns-ThumbnailWrapper:hover::after, .css-xygcns-ThumbnailWrapper:active::after {
    background: linear-gradient(
            0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(
            90deg, rgba(0, 0, 0, 0.15) 0px, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.15) 100%);
}

.css-xygcns-ThumbnailWrapper {
    position: relative;
    line-height: 0;
    max-height: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.15);
}

.css-11biyqe-ThumbnailAnchor {
    flex: 0 0 auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.15);
}

.css-1a2n1u1-Thumbnail-StyledThumbnailWithBadge {
    width: 100px;
}

.css-16z6gac-BadgeContainer {
    position: absolute;
    display: block;
    top: -7px;
    left: -7px;
    z-index: 2;
}

.css-1edturu-FreeBookBadge {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 26px;
    border-width: 1px 0px 0px 1px;
    border-top-style: solid;
    border-left-style: solid;
    border-top-color: rgba(255, 255, 255, 0.4);
    border-left-color: rgba(255, 255, 255, 0.4);
    border-image: initial;
    border-right-style: initial;
    border-right-color: initial;
    border-bottom-style: initial;
    border-bottom-color: initial;
    opacity: 0.9;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 3px 0px 0px;
    padding: 7px 6px 5px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    z-index: 3;
    line-height: 12px;
}


.css-xygcns-ThumbnailWrapper::after {
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0px, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.2) 100%);
    border: 1px solid rgba(0, 0, 0, 0.1);
    content: "";
}

.SearchBookMetaWrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 16px;
    width: 100%;
}

.css-590vrh-SearchBookTitle {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.36em;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow-wrap: break-word;
    white-space: normal;
    word-break: keep-all;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.css-1kx6mys-SearchBookMetaList {
    display: flex;
    margin-bottom: 6px;
}



li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.css-77s8uc-SearchBookMetaField-authorStyle {
    line-height: 1.36em;
    -webkit-tap-highlight-color: transparent;
    color: rgb(99, 108, 115);
    font-size: 14px;
}


.css-1qrplr2-StyledStar {
    margin-right: 2px;
    fill: rgb(250, 114, 46);
}

svg[Attributes Style]
{
    width: 10 ;
    height: 11  ;
    color: orange;
}

svg:not(:root) {
    overflow: hidden;
}

path[Attributes Style]
{
    fill-rule: evenodd;
    clip-rule: evenodd;
    d: path("M 5 0.5 L 3.353 3.646 L 0 4.313 l 2.321 2.625 l -0.416 3.562 L 5 8.98 l 3.095 1.52 l -0.416 -3.563 L 10 4.333 l -3.353 -0.687 L 5 0.5 Z")
;
}

.css-1qrplr2-StyledStar {
    margin-right: 2px;
    fill: rgb(250, 114, 46);
}

.css-1tl8vwv-SearchBookMetaField-ratingStyle {
    line-height: 1.36em;
    -webkit-tap-highlight-color: transparent;
    color: rgb(250, 114, 46);
    font-size: 13px;
    font-weight: bold;
}

.css-1td2lnr-SearchBookMetaField-ratingCountStyle {
    line-height: 1.36em;
    -webkit-tap-highlight-color: transparent;
    color: rgb(158, 167, 173);
    font-size: 12px;
}



.css-213nyw-SearchBookMetaItemGroup:not(:last-child) {
    margin-bottom: 4px;
}

.css-213nyw-SearchBookMetaItemGroup {
    display: inline-flex;
}

.css-213nyw-SearchBookMetaItemGroup .ed08jkz4 {
    margin-bottom: 0px;
}

.css-198vzo2-SearchBookMetaItem {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
}

.css-di4z5l-SearchBookMetaField-normalFieldStyle {
    line-height: 1.36em;
    -webkit-tap-highlight-color: transparent;
    color: rgb(128, 137, 145);
    font-size: 13px;
}

.css-213nyw-SearchBookMetaItemGroup .ed08jkz4:not(:last-child)::after {
    content: "|";
    color: rgb(209, 213, 217);
    margin: 0px 8px;
}

.css-1traumq-SeriesCompleted {
    padding: 3px 4px;
    background: rgb(158, 167, 173);
    color: white;
    font-size: 10px;
    font-weight: bold;
    margin-left: 4px;
    height: 16px;
    border-radius: 3px;
    position: relative;
    top: -1px;
}

.css-1t17lwo-SearchBookMetaWrapper > dl {
    margin-bottom: 4px;
}

.css-13w561e-PriceItem {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 18px;
}

.css-6v44d-PriceTitle-priceBase {
    margin-right: 4px;
    color: rgb(99, 108, 115);
    font-size: 13px;
    line-height: 18px;
}

dt {
    display: block;
}

dd {
    display: block;
    margin-inline-start: 40px;
}

.css-ujn5uh-Price-priceBase {
    color: rgb(31, 140, 230);
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
}

.css-1t17lwo-SearchBookMetaWrapper > dl {
    margin-bottom: 4px;
}

.css-13w561e-PriceItem {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 18px;
}

.css-6v44d-PriceTitle-priceBase {
    margin-right: 4px;
    color: rgb(99, 108, 115);
    font-size: 13px;
    line-height: 18px;
}

.css-ujn5uh-Price-priceBase {
    color: rgb(31, 140, 230);
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
}

.css-rwymtw-SearchBookItem {
    border-bottom: 1px solid #D1D5D9;
}

.css-1updms1-Wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 0;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}

.css-11biyqe-ThumbnailAnchor {
    flex: 0 0 auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.15);
}

.css-16z6gac-BadgeContainer {
    position: absolute;
    display: block;
    top: -7px;
    left: -7px;
    z-index: 2;
}

.css-1edturu-FreeBookBadge {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 26px;
    border-width: 1px 0px 0px 1px;
    border-top-style: solid;
    border-left-style: solid;
    border-top-color: rgba(255, 255, 255, 0.4);
    border-left-color: rgba(255, 255, 255, 0.4);
    border-image: initial;
    border-right-style: initial;
    border-right-color: initial;
    border-bottom-style: initial;
    border-bottom-color: initial;
    opacity: 0.9;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 3px 0px 0px;
    padding: 7px 6px 5px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    z-index: 3;
    line-height: 12px;
}

.css-xygcns-ThumbnailWrapper {
    position: relative;
    line-height: 0;
    max-height: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.15);
}

.css-xygcns-ThumbnailWrapper::after {
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0px, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.2) 100%);
    border: 1px solid rgba(0, 0, 0, 0.1);
    content: "";
}

.css-1t17lwo-SearchBookMetaWrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 16px;
    width: 100%;
}

.css-590vrh-SearchBookTitle {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.36em;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow-wrap: break-word;
    white-space: normal;
    word-break: keep-all;
}

.css-1kx6mys-SearchBookMetaList {
    display: flex;
    margin-bottom: 6px;
}

ul ul {
    list-style-type: circle;
    margin-block-start: 0px;
    margin-block-end: 0px;
}


.css-198vzo2-SearchBookMetaItem:not(:last-child) {
    margin-bottom: 4px;
}


@media (min-width: 1000px)
    .css-198vzo2-SearchBookMetaItem {
        margin-bottom: 0px;
    }

    .css-77s8uc-SearchBookMetaField-authorStyle {
        line-height: 1.36em;
        -webkit-tap-highlight-color: transparent;
        color: rgb(99, 108, 115);
        font-size: 14px;
    }

    .css-198vzo2-SearchBookMetaItem:not(:last-child)::after {
        content: "|";
        color: rgb(209, 213, 217);
        margin: 0px 8px;
    }

    .css-1tl8vwv-SearchBookMetaField-ratingStyle {
        line-height: 1.36em;
        -webkit-tap-highlight-color: transparent;
        color: rgb(250, 114, 46);
        font-size: 13px;
        font-weight: bold;
    }

    .css-1td2lnr-SearchBookMetaField-ratingCountStyle {
        line-height: 1.36em;
        -webkit-tap-highlight-color: transparent;
        color: rgb(158, 167, 173);
        font-size: 12px;
    }



    .css-213nyw-SearchBookMetaItemGroup:not(:last-child) {
        margin-bottom: 4px;
    }

    .css-213nyw-SearchBookMetaItemGroup {
        display: inline-flex;
    }



    .css-di4z5l-SearchBookMetaField-normalFieldStyle {
        line-height: 1.36em;
        -webkit-tap-highlight-color: transparent;
        color: rgb(128, 137, 145);
        font-size: 13px;
    }

    .css-1traumq-SeriesCompleted {
        padding: 3px 4px;
        background: rgb(158, 167, 173);
        color: white;
        font-size: 10px;
        font-weight: bold;
        margin-left: 4px;
        height: 16px;
        border-radius: 3px;
        position: relative;
        top: -1px;
    }

    .css-z8prvo-BookDesc {
        max-width: 836px;
        font-size: 13px;
        margin-bottom: 6px;
        color: rgb(99, 108, 115);
        line-height: 1.4em;
        word-break: keep-all;
    }

    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    .css-13w561e-PriceItem {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        height: 18px;
    }

    dl {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    .css-6v44d-PriceTitle-priceBase {
        margin-right: 4px;
        color: rgb(99, 108, 115);
        font-size: 13px;
        line-height: 18px;
    }

    dt {
        display: block;
    }

    dd {
        display: block;
        margin-inline-start: 40px;
    }

    .css-ujn5uh-Price-priceBase {
        color: rgb(31, 140, 230);
        font-weight: bold;
        font-size: 13px;
        line-height: 18px;
    }

    .css-tdw7ny-EmptyBlock {
        margin-top: 40px;
    }

    .css-11tgnai-SearchResultSection {
        max-width: 952px;
        min-height: 620px;
        margin: 0 auto;
        padding-top: 8px;
    }

    .css-di4z5l-SearchBookMetaField-normalFieldStyle {
        line-height: 1.36em;
        -webkit-tap-highlight-color: transparent;
        color: rgb(128, 137, 145);
        font-size: 13px;
    }

    html {
        margin: 0;
        padding: 0;
        color: black;
        font-family: ridi-roboto, Apple SD Gothic Neo, "돋움", Dotum, Helvetica Neue, arial, sans-serif;
        font-weight: 400;
        -webkit-letter-spacing: -0.03em;
        -moz-letter-spacing: -0.03em;
        -ms-letter-spacing: -0.03em;
        letter-spacing: -0.03em;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        font-size: 14px;
    }

    html.wf-nanumgothic-n4-active.wf-nanumgothic-n7-active {
        font-family: ridi-roboto, Apple SD Gothic Neo, "나눔고딕", Nanum Gothic, "돋움", Dotum, Helvetica Neue, arial, sans-serif;
    }

    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    hr {
        margin: 0;
        padding: 0;
    }

    p {
        margin: 0;
        padding: 0;
    }

    button {
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: inherit;
        -webkit-letter-spacing: inherit;
        -moz-letter-spacing: inherit;
        -ms-letter-spacing: inherit;
        letter-spacing: inherit;
        font-family: inherit;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: none;
        box-shadow: none;
        border: 0;
        margin: 0;
        padding: 0;
    }

    button * {
        position: relative;
        top: 0;
        left: 0;
    }

    input {
        color: inherit;
        -webkit-letter-spacing: inherit;
        -moz-letter-spacing: inherit;
        -ms-letter-spacing: inherit;
        letter-spacing: inherit;
        font-family: inherit;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: none;
        box-shadow: none;
        border: 0;
        margin: 0;
        padding: 0;
    }

    input::-ms-clear {
        display: none;
    }

    input::-webkit-search-cancel-button {
        display: none;
    }

    input:focus {
        outline: none;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        line-height: initial;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    * .a11y {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        border: 0;
        -webkit-clip: rect(0, 0, 0, 0);
        clip: rect(0, 0, 0, 0);
    }

    a {
        color: inherit;
        -webkit-letter-spacing: inherit;
        -moz-letter-spacing: inherit;
        -ms-letter-spacing: inherit;
        letter-spacing: inherit;
        font-family: inherit;
        cursor: pointer;
    }

    a:link, a:visited {
        -webkit-text-decoration: none;
        text-decoration: none;
    }

    .new_gnb a:link, .new_gnb a:visited, #new_footer a:link, #new_footer a:visited {
        color: white;
    }

    @font-face {
        font-family: 'ridi-roboto';
        src: url(data:font/woff2;base64, format('truetype');
        font-display: swap;
        font-weight: bold;
    }#__next {
         overflow-y: hidden;
         overflow-x: hidden;
     }

    h1, h2, h3, h4, button, input, p, span {
        -webkit-letter-spacing: -0.03em;
        -moz-letter-spacing: -0.03em;
        -ms-letter-spacing: -0.03em;
        letter-spacing: -0.03em;
    }
 .css-1l2h10c-FocusTrap, .css-1l2h10c-FocusTrap:focus {
       outline: none;
   }

    @media (max-width: 999px) {
        .css-1dz7dy5-SearchBoxWrapper {
            padding-top: 9px;
            false;
        }
    }

 .css-c9oc3e-SearchBoxShape {
       background: white;
       border-radius: 3px;
       display: -webkit-box;
       display: -webkit-flex;
       display: -ms-flexbox;
       display: flex;
       -webkit-align-items: center;
       -webkit-box-align: center;
       -ms-flex-align: center;
       align-items: center;
   }

    @media (max-width: 999px) {
        .css-c9oc3e-SearchBoxShape {
            width: 100%;
        }
    }.css-ckfcqf-StyledLens {
       -webkit-flex: none;
       -ms-flex: none;
       flex: none;
       width: 24px;
       height: 24px;
       margin: 0 4px 0 6px;
       opacity: 0.6;
   }

 .css-g7wjto-SearchBox {
       -webkit-flex: 1;
       -ms-flex: 1;
       flex: 1;
       height: 36px;
       font-size: 16px;
       line-height: 16px;
   }

 .css-1blc6gj-Tabs {
       display: -webkit-box;
       display: -webkit-flex;
       display: -ms-flexbox;
       display: flex;
       -webkit-flex-direction: row;
       -ms-flex-direction: row;
       flex-direction: row;
       padding: 0 20px;
   }

    @media (max-width: 999px) {
        .css-1blc6gj-Tabs {
            padding: 0;
        }
    } .css-3olj26-TabItemWrapper {
       display: -webkit-box;
       display: -webkit-flex;
       display: -ms-flexbox;
       display: flex;
       -webkit-flex-direction: column;
       -ms-flex-direction: column;
       flex-direction: column;
       box-sizing: border-box;
       height: 37px;
       overflow: visible;
       -webkit-transition: opacity 0.2s;
       transition: opacity 0.2s;
       padding-bottom: 4px;
   }

    .css-3olj26-TabItemWrapper:not(:last-of-type) {
        margin-right: 50px;
    }

    @media (max-width: 999px) {
        .css-3olj26-TabItemWrapper {
            height: 40px;
            width: 25%;
        }

        .css-3olj26-TabItemWrapper:not(:last-of-type) {
            margin-right: 0;
        }
    }@media (hover: hover) {
    .css-3olj26-TabItemWrapper:hover {
        opacity: 0.7;
    }

    .css-3olj26-TabItemWrapper:hover .e1a48czu3 {
        background-color: #99d1ff;
        position: relative;
        top: 1px;
        opacity: 0.7;
        width: 100%;
    }
}.css-3olj26-TabItemWrapper:hover {
     opacity: 0.7;
 }

    .css-3olj26-TabItemWrapper:hover .e1a48czu3 {
        background-color: #99d1ff;
        position: relative;
        top: 1px;
        opacity: 0.7;
        width: 100%;
    }

    @media (hover: none) {
        .css-3olj26-TabItemWrapper:hover {
            opacity: 1;
        }
    }
    .css-rsb4cf-StyledAnchor {
       height: 100%;
       display: block;
   }

 .css-1ojv6a3-TabButton {
       height: 100%;
       display: -webkit-box;
       display: -webkit-flex;
       display: -ms-flexbox;
       display: flex;
       -webkit-box-pack: center;
       -webkit-justify-content: center;
       -ms-flex-pack: center;
       justify-content: center;
       -webkit-align-items: center;
       -webkit-box-align: center;
       -ms-flex-align: center;
       align-items: center;
       box-sizing: border-box;
       padding: 0 5px 3px 4px;
       outline: none;
       position: relative;
       top: -1px;
       margin: 0 auto;
       overflow: visible;
   }

 .css-td2buc {
       margin-right: 10px;
       fill: white;
       width: 20px;
       height: 20px;
   }

    @media (max-width: 999px) {
        .css-td2buc {
            width: 24px;
            height: 24px;
            margin-right: 0;
        }
    } .css-t3ykjb-a11y-labelStyle {
       height: 16px;
       font-size: 16px;
       font-weight: 600;
       margin-left: 5px;
       line-height: 1;
       top: 1px;
       text-align: center;
       color: #ffffff;
   }

    @media (max-width: 999px) {
        .css-t3ykjb-a11y-labelStyle {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            padding: 0;
            overflow: hidden;
            border: 0;
            -webkit-clip: rect(0, 0, 0, 0);
            clip: rect(0, 0, 0, 0);
        }
    }
    .css-9aoyjt-BottomLine {
       display: block;
       background: transparent;
       height: 3px;
       width: 0;
   }

 .css-10ux3qq-Contents {
       margin: 0 auto;
   }

.css-11tgnai-SearchResultSection {
       max-width: 952px;
       min-height: 620px;
       margin: 0 auto;
       padding-top: 8px;
   }

    @media (max-width: 999px) {
        .css-11tgnai-SearchResultSection {
            max-width: 100%;
        }
    }
    .css-9yfnlt-SkeletonBar-SkeletonH2Bar {
       background: linear-gradient(327.23deg, #F8F9FB 1.42%, #F1F1F3 49.17%, #F8F9FB 100%);
       width: 130px;
       height: 20px;
       margin-bottom: 8px;
       width: 200px;
       margin: 10px 0;
   }

    @media (max-width: 999px) {
        .css-9yfnlt-SkeletonBar-SkeletonH2Bar {
            margin: 10px 16px;
        }
    }
    .css-iwu3ci-SkeletonAuthorsWrapper {
       margin-bottom: 16px;
   }

 .css-aibpks-AuthorInfoWrapper-SkeletonAuthorInfoWrapper {
       display: -webkit-box;
       display: -webkit-flex;
       display: -ms-flexbox;
       display: flex;
       -webkit-align-items: center;
       -webkit-box-align: center;
       -ms-flex-align: center;
       align-items: center;
       width: 100%;
       padding: 11px 0;
   }

    @media (max-width: 999px) {
        .css-aibpks-AuthorInfoWrapper-SkeletonAuthorInfoWrapper {
            margin: 0 16px;
        }
    }
    .css-yt16n4-AuthorIconWrapper-SkeletonAuthorIcon {
       width: 22px;
       height: 22px;
       margin-right: 6px;
       background: #F2F4F5;
       border-radius: 22px;
       background: linear-gradient(334.91deg, #f8f9fb 1.42%, #f1f1f3 49.17%, #f8f9fb 100%);
   }

.css-edwdnr-SkeletonBar-SkeletonAuthorBar {
       background: linear-gradient(327.23deg, #F8F9FB 1.42%, #F1F1F3 49.17%, #F8F9FB 100%);
       width: 130px;
       height: 20px;
       margin-bottom: 8px;
       margin-bottom: 0;
       width: 68px;
       height: 14px;
   }

.css-1151iyg-SkeletonBar-SkeletonAuthorBar {
       background: linear-gradient(327.23deg, #F8F9FB 1.42%, #F1F1F3 49.17%, #F8F9FB 100%);
       width: 130px;
       height: 20px;
       margin-bottom: 8px;
       margin-bottom: 0;
       width: 129px;
       height: 14px;
   }
.css-fs70if-Wrapper {
       margin: 22px 0 12px;
       display: -webkit-box;
       display: -webkit-flex;
       display: -ms-flexbox;
       display: flex;
       -webkit-align-items: center;
       -webkit-box-align: center;
       -ms-flex-align: center;
       align-items: center;
   }

    .css-fs70if-Wrapper > li {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
    }

    .css-fs70if-Wrapper > li + li {
        margin-left: 10px;
    }

    @media (max-width: 999px) {
        .css-fs70if-Wrapper {
            margin-left: 16px;
        }
    }
.css-1ramz16-CategorySkeletonBar-SkeletonBar-CategorySkeletonBar {
       background: linear-gradient(327.23deg, #F8F9FB 1.42%, #F1F1F3 49.17%, #F8F9FB 100%);
       width: 130px;
       height: 20px;
       margin-bottom: 8px;
       width: 68px;
       margin-bottom: 0;
   }

 .css-f68zeo-Border {
       top: -1px;
       position: relative;
       height: 1px;
       width: 100%;
       background: #E6E8EB;
       z-index: -1;
   }

 .css-fjc0p6-Filters {
       display: -webkit-box;
       display: -webkit-flex;
       display: -ms-flexbox;
       display: flex;
       -webkit-box-pack: justify;
       -webkit-justify-content: space-between;
       -ms-flex-pack: justify;
       justify-content: space-between;
       -webkit-align-items: center;
       -webkit-box-align: center;
       -ms-flex-align: center;
       align-items: center;
       margin-top: 12px;
   }

    @media (max-width: 999px) {
        .css-fjc0p6-Filters {
            margin-left: 16px;
            margin-right: 16px;
        }
    }
.css-1b9e0wp-SkeletonBar-SkeletonFilterBar {
       background: linear-gradient(327.23deg, #F8F9FB 1.42%, #F1F1F3 49.17%, #F8F9FB 100%);
       width: 130px;
       height: 20px;
       margin-bottom: 8px;
       width: 92px;
       margin: 5px 0 17px;
       display: inline-block;
   }

.css-btvd8n-SkeletonBar-SkeletonFilterBar {
       background: linear-gradient(327.23deg, #F8F9FB 1.42%, #F1F1F3 49.17%, #F8F9FB 100%);
       width: 130px;
       height: 20px;
       margin-bottom: 8px;
       width: 70px;
       margin: 5px 0 17px;
       display: inline-block;
   }

 .css-so1hjs-SearchBookList {
       display: -webkit-box;
       display: -webkit-flex;
       display: -ms-flexbox;
       display: flex;
       -webkit-flex-direction: column;
       -ms-flex-direction: column;
       flex-direction: column;
   }

.css-rwymtw-SearchBookItem {
       border-bottom: 1px solid #D1D5D9;
   }

  .css-1updms1-Wrapper {
       display: -webkit-box;
       display: -webkit-flex;
       display: -ms-flexbox;
       display: flex;
       padding: 20px 0;
       -webkit-align-items: flex-start;
       -webkit-box-align: flex-start;
       -ms-flex-align: flex-start;
       align-items: flex-start;
   }
 .css-1vj26ty-SkeletonBook {
       background: linear-gradient(327.23deg, #F8F9FB 1.42%, #F1F1F3 49.17%, #F8F9FB 100%);
       -webkit-flex: none;
       -ms-flex: none;
       flex: none;
       width: 100px;
       height: 140px;
   }

    @media (max-width: 999px) {
        .css-1vj26ty-SkeletonBook {
            width: 80px;
            height: 110px;
        }
    }
    .css-1t17lwo-SearchBookMetaWrapper {
       display: -webkit-box;
       display: -webkit-flex;
       display: -ms-flexbox;
       display: flex;
       -webkit-flex-direction: column;
       -ms-flex-direction: column;
       flex-direction: column;
       margin-left: 16px;
       width: 100%;
   }

    .css-1t17lwo-SearchBookMetaWrapper > dl {
        margin-bottom: 4px;
    }

 .css-1lfozja-SkeletonBar-longBar {
       background: linear-gradient(327.23deg, #F8F9FB 1.42%, #F1F1F3 49.17%, #F8F9FB 100%);
       width: 130px;
       height: 20px;
       margin-bottom: 8px;
       width: 100%;
   }

.css-60dn9z-SkeletonBar-shortBar {
       background: linear-gradient(327.23deg, #F8F9FB 1.42%, #F1F1F3 49.17%, #F8F9FB 100%);
       width: 130px;
       height: 20px;
       margin-bottom: 8px;
       width: 130px;
   }

 .css-tdw7ny-EmptyBlock {
       margin-top: 40px;
   }
.css-lnjn6q {
       width: 100%;
       color: #ffffff;
       background: #303538;
   }

    .css-lnjn6q hr {
        display: none;
    }

 .css-7l0kmm-FooterWrapper {
       max-width: 1000px;
       margin: 0 auto;
       padding: 24px 16px;
       -webkit-transition: all 0.3s;
       transition: all 0.3s;
       max-height: 700px;
   }

 .css-mn5cyi-Footer {
       -webkit-transition: height 0.3s ease-in-out;
       transition: height 0.3s ease-in-out;
   }

.css-1k4u5wr-FlexBox-Footer {
       display: -webkit-box;
       display: -webkit-flex;
       display: -ms-flexbox;
       display: flex;
       -webkit-align-items: start;
       -webkit-box-align: start;
       -ms-flex-align: start;
       align-items: start;
       -webkit-box-pack: unset;
       -webkit-justify-content: unset;
       -ms-flex-pack: unset;
       justify-content: unset;
       -webkit-transition: height 0.3s ease-in-out;
       transition: height 0.3s ease-in-out;
   }

    @media (max-width: 999px) {
        .css-1k4u5wr-FlexBox-Footer {
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: start;
            -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -webkit-align-items: unset;
            -webkit-box-align: unset;
            -ms-flex-align: unset;
            align-items: unset;
        }
    }
    .css-fztbtk {
       display: -webkit-box;
       display: -webkit-flex;
       display: -ms-flexbox;
       display: flex;
       -webkit-align-items: center;
       -webkit-box-align: center;
       -ms-flex-align: center;
       align-items: center;
       margin-right: 80px;
   }

    .css-fztbtk li {
        word-break: keep-all;
    }

    .css-fztbtk li span {
        word-break: keep-all;
        white-space: nowrap;
    }

    .css-fztbtk li:not(:last-of-type)::after {
        position: relative;
        font-size: 11px;
        content: ' ';
        top: -3px;
        margin: 0 10px;
        border-left: 1px solid #525A61;
    }

    @media (max-width: 999px) {
        .css-fztbtk {
            margin-bottom: 28px;
        }
    }

.css-19pl905-StyledAnchor {
       word-break: keep-all;
   }

    .css-19pl905-StyledAnchor:hover {
        opacity: 0.7;
    }

.css-pbh9cn-serviceNumber-serviceCenter {
       word-break: keep-all;
       font-size: 20px;
       font-weight: bold;
       color: white;
       line-height: 1;
       word-break: keep-all;
   }

